.boards-list {
  background: #E2E4E6;
  padding: 5px 0px;
  border-radius: 5px;
  margin: 15px 5px;
  max-height: 800px;
  overflow: auto;

}


.boards-list-item,
.board-selected {
  background: #fff;
  width: 98%;
  text-align: left;
  list-style: none;
  margin: 7px 9px;
  padding: 11px;
  border-radius: 5px;
  font-weight: bold;
  color: #6F6F6F;
  cursor: pointer;
}

.board-selected {
  border-bottom: 5px solid #008074;
  padding-bottom: 7px;
}
